h1{
    background-color: #2980b5;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;

}

li:nth-child(2n){
    background-color: #f7f7f7;
}
body{
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
span{
    background: #e74c3c;
    color: white;
    margin-right: 20px;
    text-align: center;
    height: 40px;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 1.0;
}
li:hover span{
    width: 40px;
}
.fa-plus{
    float: right;
}
input{
    font-size: 18px;
    color: #2982b5;
    background-color: #fff;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0 , 0 ,0)
}
input:focus{
    background: #fff;
    border: 3px solid #2982b5;
    outline: none;
}
#container{
    box-shadow: 0, 0, 0, 0.1;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
}
.completed{
    color: gray;
    text-decoration: line-through;
}
